$main-bg-color: #e1e1e1;
$darker-bg-color: #dbdada;
$lighter-bg-color: #eeeded;
$map-bg-color: #c0c0c0;
$inputs-bg-color: white;
$toggle-circle-color: #bcd2d9;

$footer-bg-color: #dbdada;

$text-color: black;

$country-hover-color: #aad3df;
$map-marker-color: black;



$mobile-width: "(max-width: 500px)";
$tablet-width: "(max-width: 980px)";
$s-desktop-width: "(max-width: 1400px)";